@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Kategori Ekle</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Kategori</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Kategori Ekle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br />
@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post, new { @class = "form-control" }))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-info">Kategori Oluştur</button>
}
